@import "./variable.less";

@font-face {
    font-family: Roboto;
    src:url(./Roboto-Regular.ttf);
}

html {
    font-family: Roboto;
    background-color: @background;
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
